
/* media settings */
@media screen {
    body {
      width: 75%;
    }
  }
  
  @media print {
    body {
      width: 100%;
    }
  }




/* body settings */
body {
    background-color: sandybrown;
}
body h1 {
    color: white;
}
body p {
    color: white;
}
body h2 {
    color: white;
}
nav li {
    color: white;
    list-style-type: none;
}



/* link adjustments */
#welcome-section {
    height: 100vh;
    overflow: auto;
}