#welcome-section {
    height: 10vh;
    overflow: auto;
}

body {
  background-color: green;
}

body h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    border-radius: 20px;
    
}​



body {
    background-color: green;
}

#planettitles {
    /*position: relative;*/
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.planetform {
  display: flex;
  flex-direction: row;
} 

body h2 {
  position: relative;
}

.form-example {
  margin-top: 5px;
  margin-bottom: 5px;
  
}

#idCards {
   top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body { font-family: sans-serif; }

.pp {
    border-radius: 10%; 
    height: 200px;
    margin:5px;
    flex: 1 0 17%;
    border: 1px solid #CCC;
    perspective: 600px;
    margin-left: 10px;
    display: flex;
    max-width: 17%;
}

.pp img {
      max-width: 53px;
      max-height: 200px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  
  
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  backface-visibility: hidden;
  background-size: auto;
  background-color: grey;
  background-size: auto;
}

.card__face--back {
  border-radius: 10;
  background: grey;
  transform: rotateY(180deg);
}

#projects {
  text-align: center;
  right: 200px;
}

.project-tile {
  display: inline;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  
}

#github {
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px

  
}
#profile-link {
  font-family: 'Roboto', sans-serif;
  background-color: grey;
  border-radius: 8px;
}